@page
@model Proiect.Pages.Contracte.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Creati</h1>

<h4>Rezervare</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.TransportID" class="control-label"></label>
                <select asp-for="Contract.TransportID" class="form-control" asp-items="@Model.TransportSl"></select>
                <span asp-validation-for="Contract.TransportID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ClientID" class="control-label"></label>
                <select asp-for="Contract.ClientID" class="form-control" asp-items="@Model.ClientSl"></select>
                <span asp-validation-for="Contract.ClientID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CazareID" class="control-label"></label>
                <select asp-for="Contract.CazareID" class="form-control" asp-items="@Model.CazareSl"></select>
                <span asp-validation-for="Contract.CazareID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.DataContract" class="control-label"></label>
                <input asp-for="Contract.DataContract" class="form-control" />
                <span asp-validation-for="Contract.DataContract" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
